/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
}
.logo {
  display: none;
}
